<!doctype html>
<html>

<head>
    <title>Autenticação do Usuário</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="jumbotron">
        <img style="float:left;" src="imgs/Logo.jpg" alt=" " />
        <h1 class="text-center">Bem-vindo ao IFSP</h1>
        <h2 class="text-center">Autenticação do Usuário</h2>
    </div>
    <div class="container text-center">
      
        <a href="/auth/github">
            <h1>
              Entre pelo GitHub
            </h1>
        </a>
      <i class="fa fa-github" style="font-size:50px"></i>
    </div>
</body>

</html>