<div class="jumbotron">
  <img style="float:left;" src="imgs/Logo.jpg">
	<h1 class="text-center">Bem-vindo ao IFSP</h1>
  <h2 class="text-center">Contatos</h2>
</div>
<p ng-show="mensagem.texto">{{mensagem.texto}}</p>

<nav class="navbar navbar-expand navbar-dark bg-dark ng-scope">      
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="#/home">
        <button class="btn btn-outline-light nav-item">Home</button>
      </a>
      <a class="nav-link" href="#/contatos">
        <button class="btn btn-outline-light nav-item active">Contatos</button>
      </a>
      <a class="nav-link" href="#/cursos">
        <button class="btn btn-outline-light nav-item">Cursos</button>
      </a>
    </div>
    <form class="form-inline my-2 my-md-0 ng-pristine ng-valid">
      <input ng-model="filtro" type="search" placeholder="Digite parte do nome" class="form-control ng-pristine ng-untouched ng-valid">
    </form>
  </div>
</nav>
<br>
<a ng-href='#/contato' class='btn btn-primary'>Novo Contato</a>
<p ng-show="contatos.length">Contatos cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.length">Não há contatos cadastrados</p>

<div class="table-responsive">
<table class="table table-hover">
<tr><th>NOME</th><th>E-MAIL</th><th class="text-center">Ação</th></tr>
<tr ng-repeat="contato in contatos | filter: filtro">
 <td><a ng-href='#/contato/{{contato._id}}'>{{contato.nome}}</a></td>
 <td>{{contato.email}}</td>
 <td class="text-center"><button ng-click='remove(contato)' class="btn btn-warning">Remover</button></td>
</tr>

</tr>
</table>
</div>
