<div class="jumbotron">
  <img style="float:left;" src="imgs/Logo.jpg">
	<h1 class="text-center">Bem-vindo aos Contatos</h1>
  <h2 class="text-center">Alteração ou Cadastro</h2>
</div>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<nav class="navbar navbar-expand navbar-dark bg-dark ng-scope">      
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="#/home">
        <button class="btn btn-outline-light nav-item">Home</button>
      </a>
      <a class="nav-link" href="#/contatos">
        <button class="btn btn-outline-light nav-item active">Contatos</button>
      </a>
      <a class="nav-link" href="#/cursos">
        <button class="btn btn-outline-light nav-item ">Cursos</button>
      </a>
    </div>
  </div>
</nav>

<div>
  <h1 class="text-center">Cadastro/Alteração de Contato</h1>
  <div class="alert alert-success" ng-show="mensagem.texto">
    <p>{{mensagem.texto}}</p>
  </div>
  
  <form ng-submit="salva()" class="form"> 
    <fieldset class="form-row-lg">
      <div class="form-group">
        <label for="nome" class="mr-1">Nome Completo</label>
        <input type="text" class="form-control border-dark rounded-lg" id="nome" name="nome" required ng-model="contato.nome">
      </div>
    </fieldset>
    <fieldset class="form-row-lg">
      <div class="form-group">
        <label for="Email" class="ml-2 mr-1">Email</label>
          <input type="coordenador" class="form-control border-dark rounded-lg" id="email" placeholder="email@exemplo.com" name="email" ng-model="contato.email" required>
      </div>
    </fieldset>
    <fieldset class="form-row">     
      <div class="form-group">
        <button type="submit" style ="background:#007f28;"class="btn text-white ml-2">
    			Salvar
    		</button>
      </div>
        <div class="form-group">
        <a href="#/contatos" class="btn btn-secundary bg-danger text-white ml-2">Voltar</a>
        </div>
    </fieldset>
  </form>
</div>
