<div class="jumbotron">
  <h1 class="text-center">Bem Vindo ao IFSP</h1>
</div>

<button ng-click='incrementa()' class="btn btn-primary">Novo</button>
<input ng-model="filtro" type="search" placeholder="Digite parte do nome">
<p>Contatos Cadastrados: {{total}}</p>

<div class="table-responsive">
  <table class="table table-hover">
    <tr><th>NOME</th><th>E-MAIL</th><th class="text-center">Ação</th></tr>
    <tr ng-repeat="contato in contatos | filter:filtro">
      <td><a>{{contato.nome}}</a></td>
      <td>{{contato.email}}</td>
      <td class="text-center"><button class="btn btn-warning">Remover</button></td>
    </tr>
  </table>
</div>
