<div class="jumbotron">
  <img style="float:left;" src="imgs/Logo.jpg">
	<h1 class="text-center">Bem-vindo ao IFSP</h1>
  <h2 class="text-center">Cursos</h2>
</div>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<nav class="navbar navbar-expand navbar-dark bg-dark ng-scope">      
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="#/home">
        <button class="btn btn-outline-light nav-item">Home</button>
      </a>
      <a class="nav-link" href="#/contatos">
        <button class="btn btn-outline-light nav-item">Contatos</button>
      </a>
      <a class="nav-link" href="#/cursos">
        <button class="btn btn-outline-light nav-item active">Cursos</button>
      </a>
    </div>
    <form class="form-inline my-2 my-md-0 ng-pristine ng-valid">
      <input ng-model="filtro" type="search" placeholder="Digite parte do nome" class="form-control ng-pristine ng-untouched ng-valid">
    </form>
  </div>
</nav>
<br>
<a ng-href='#/curso' class='btn btn-primary'>Novo Curso</a>

<p ng-show="cursos.length">Cursos cadastrados: {{cursos.length}}</p>
<p class="text-info" ng-hide="cursos.length">Não há cursos cadastrados</p>

<div class="table-responsive">
<table class="table table-hover">
<tr><th>CURSO</th><th>E-MAIL COORDENADOR</th><th class="text-center">Ação</th></tr>
<tr ng-repeat="curso in cursos | filter: filtro">
 <td><a ng-href='#/curso/{{curso._id}}'>{{curso.curso}}</a></td>
 <td>{{curso.coordenadorl}}</td>
 <td class="text-center"><button ng-click='remove(curso)' class="btn btn-warning">Remover</button></td>
</tr>

</tr>
</table>
</div>