<div class="jumbotron">
  <img style="float:left;" src="imgs/Logo.jpg">
	<h1 class="text-center">Bem-vindo ao IFSP</h1>
  <h2 class="text-center">Home</h2>
</div>
<nav class="navbar navbar-expand navbar-dark bg-dark ng-scope">      
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="#/home">
        <button class="btn btn-outline-light nav-item active">Home</button>
      </a>
      <a class="nav-link" href="#/contatos">
        <button class="btn btn-outline-light nav-item">Contatos</button>
      </a>
      <a class="nav-link" href="#/cursos">
        <button class="btn btn-outline-light nav-item ">Cursos</button>
      </a>
    </div>
  </div>
</nav>
<br>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at feugiat erat, et cursus dolor. Quisque ultricies mollis enim eu interdum. Proin nec fermentum eros. Nam sit amet nisl dolor. Maecenas orci magna, gravida eget diam eu, euismod venenatis ex. Mauris accumsan elit aliquet dui finibus aliquet ut id magna. Nulla nec varius turpis. Vestibulum lacus quam, vehicula et facilisis id, volutpat ut metus.</p>

<p>Sed pretium, magna ac vestibulum accumsan, dolor turpis ultricies nulla, ac ultrices erat enim eu augue. Duis vitae velit semper, fringilla nisl sed, pellentesque massa. Integer in aliquet nulla, et lobortis leo. Aliquam id fringilla mauris. Duis at nisi nec dui ornare varius. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus pharetra metus ac pulvinar imperdiet. Phasellus sit amet posuere neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ultricies massa euismod, hendrerit felis id, condimentum elit.</p>
</div>