<!-- public/index.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>IFSP - Pirituba</title>
  <link href="style/home.css" rel="stylesheet" type="text/css" />
</head>
<body> 
  <header class="header">
    <img src="images/Logo.jpg"></img>
  </header>
  <h1>Avaliação contínua</h1>
	<h2>Aluno do IFSP, bem-vindo ao <u><%=nome %></u></h2>

  <nav>
    <section>
      <div class="navigation">
        <ul class="mainmenu">
          <li>
            <h3><a href="/contatos" target="_blank">Contato</a></h3>
              <ul class="submenu">
                <li><a href="/contatos/1" target="_blank">Contato: 1</a></li>
                <li><a href="/contatos/2" target="_blank">Contato: 2</a></li>
                <li><a href="/contatos/3" target="_blank">Contato: 3</a></li>
                <li><a href="/contatos/4" target="_blank">Contato: 4</a></li>
              </ul>
        </div>
      </section>
    
    <section>
      <div class="navigation">
        <ul class="mainmenu">
          <li>
            <h3><a href="/cursos" target="_blank">Cursos</a></h3>
              <ul class="submenu">
                <li><a href="/cursos/1" target="_blank">Cursos: 1</a></li>
                <li><a href="/cursos/2" target="_blank">Cursos: 2</a></li>
                <li><a href="/cursos/3" target="_blank">Cursos: 3</a></li>
                <li><a href="/cursos/4" target="_blank">Cursos: 4</a></li>
                <li><a href="/cursos/5" target="_blank">Cursos: 5</a></li>
              </ul>
        </div>
      </section>
    </nav>
</body>
</html>