<!-- public/index.html -->
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>IFSP - Pirituba</title>
</head>
<body> 
  <header style="background-color:#00822a;width:100%">
    <img src="images/Logo.jpg"></img>
  </header>
	<h1>Aluno do IFSP, bem-vindo ao <u><%=nome %></u></h1>
</body>
</html>